<div class="container">
  <div class="row">
    <div class="col-12 my-3">
      <div class="card">
        <div [ngClass]="[(this.editMode) ? 'bg-warning py-2' : 'card-header']">
          <h3 class="text-center">{{(editMode) ? "Editar" : "Agregar"}} Producto</h3>
        </div>

        <div class="card-body">
          <form [formGroup]="ProductsForm" (ngSubmit)="addProduct(ProductsForm.value)">
            <div class="row my-3">
              <div class="col-12">
                <div class="input-group my-2">
                  <span class="input-group-text"
                    ><i class="fas fa-box"></i
                  ></span>
                  <input
                    type="text"
                    formControlName="name_product"
                    placeholder="Nombre Producto"
                    class="form-control"
                    [class.is-valid]="this.ProductsForm.get('name')?.valid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-money-bill"></i
                  ></span>
                  <input
                    type="number"
                    formControlName="price_product"
                    placeholder="Precio"
                    class="form-control"
                    [class.is-valid]="this.ProductsForm.get('price')?.valid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="fas fa-object-group"></i
                  ></span>
                  <input
                    type="number"
                    min="0"
                    formControlName="quantity_product"
                    placeholder="Cantidad"
                    class="form-control"
                    [class.is-valid]="this.ProductsForm.get('quantity')?.valid"
                  />
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="id_product">
            <div class="d-grid gap-2">
              <button type="submit" [ngClass]="['btn', (this.editMode) ? 'btn-warning' : 'btn-success']">
                <i [ngClass]="['fas', (this.editMode) ? 'fa-sync-alt' : 'fa-database', 'mr-2']"></i> {{(this.editMode) ? "Actualizar" : "Agregar"}}
              </button>        
              <a ref="javascript:;" *ngIf="this.editMode" class="btn my-2 btn-secondary" (click)="resetFormProduct()">
                Cancelar
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 my-3">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Lista Productos</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="table-dark">
              <tr class="text-center">
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of listProducts">
                <td>{{ product.id_product }}</td>
                <td>{{ product.name_product }}</td>
                <td>$ {{ product.price_product }}</td>
                <td>{{ product.quantity_product }}</td>
                <td class="text-center">
                  <a href="javascript:;" (click)="editProduct(product)">
                    <i class="fas fa-edit mr-3 text-warning"></i>
                  </a>
                  |
                  <a href="javascript:;" (click)="deletedProduct(product)">
                    <i class="fas fa-trash-alt ml-3 text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
